table, td, th {
	border-collapse: collapse;
	border-right: 1px solid #999;
	position: relative;
}

tr {
	overflow: auto;
}

td {
	padding: 0 0.5em 0 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
	line-height: 1.5em;
	white-space: nowrap;
}

th {
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 6px;
	min-width: 30px;
}

table {
	table-layout: fixed;
	width: auto;
}

div {
	display: inline-block;
	position: relative;
	width: 100%;
}

li {
	width: fit-content;
	list-style: none;
}

a {
	user-select: none;
}

label {
	position: relative;
	margin-left: 10px;
}

input {
	position: relative;

}

a:before {
	display: none;
}

.grip {
	top: 0;
	right: 0;
	width: 8px;
	bottom: 0;
	padding: 0 0 0 5px;
	position: absolute;
	cursor: col-resize;
}

.query-container {
	width: 80%;
	margin-left: 10%;
	height: 85vh;
	margin-top: 1%;
}

.fields {
	display: inline-block;
	float: left;
	width: 25%;
	height: 99%;
	border: 1px solid black;
	overflow: auto;
}

.fields ul {
	margin-left: 5%
}

.controls {
	display: inline-block;
	float: right;
	width: 74%;
	height: 20%;
	border: 1px solid black;
	overflow: scroll;
}

div.results {
	display: inline-block;
	float: right;
	width: 74%;
	height: 78%;
	border: 1px solid black;
	margin-top: 9px;
	overflow: scroll;
}

.tables {
	display: block;
	list-style: none;
	margin-left: -10%;
	margin-top: 5%;
}

.tables:before {
	background-image: url('../imgs/minus.ico');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display: inline-block;
	margin-left: -10px;
	content: "";
	width: 15px;
	height: 15px;
}

th.after:before,
th.before:before {
	display: none;
}

th.asc:after,
.sortAsc {
	background-image: url('../imgs/sort.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: cover;
	display: block;
	content: "";
	width: 12px;
	height: 6px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

th.desc:after,
.sortDesc {
	background-image: url('../imgs/sort.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -7px;
	background-size: cover;
	display: block;
	content: "";
	width: 12px;
	height: 6px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

th.hovered.before:before {
	background-image: linear-gradient(to left, yellow, white);
	display: block;
	content: "";
	width: 5px;
	height: 100%;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

th.hovered.after:before {
	background-image: linear-gradient(to right, yellow, white);
	display: block;
	content: "";
	width: 5px;
	height: 100%;
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
}

.jsdragtable-contents {
	background-color: white;
	width: auto;
}

.tables.collapse:before {
	background-image: url('../imgs/plus.png');
}

.tables.collapse ~ li {
	display: none;
}

.previewWindow {
	min-height: 100px;
	width: 100%;
	display: block;
	background-color: beige;
	padding-bottom: 1em;
}

.previewWindow.hide {
	display: none;
}

.tableWindow {
	height: 85vh;
	width: 80%;
	margin-left: 10%;
}

.table_one {
	width: auto;
	height: auto;
	margin-top: 20px;
	max-height: 85vh;
	overflow: auto;
	display: block;
	border: 1px solid black;
}

.patientWindow {
	width: 80%;
	margin-left: 10%;
}

#search {
	float: right;
	margin-top: 25px;
}

.nav {
	background-color: #444466;
	padding: 10px;
	margin-left: -10px;
	margin-top: -10px;
	color: white;
	box-shadow: 4px 4px 4px #444;
	z-index: 99;
}

.nav h1 {
	float: left;
	padding-right: 50px;
	border-right: 1px solid grey;
}

.homeLink {
	width: auto;
	height: auto;
	padding-top: 10px;
	display: inline-block;
	position: relative;
}

.homeLink li {
	float: left;
	margin-right: 20px;
	padding: 5px 10px;
}

.homeLink a {
	text-decoration: none;
	color: white;
}

.homeLink a.current  {
	color: red;
}

a.cols:before {
	background-image: url('../imgs/button.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	opacity: 0.5;
	display: inline-block;
	margin-left: -17px;
	margin-right: 5px;
	content: "";
	width: 12px;
	height: 12px;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a.selected:before {
	background-image: url('../imgs/check-mark.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display: inline-block;
	margin-left: -17px;
	margin-right: 5px;
	content: "";
	width: 12px;
	height: 12px;
	opacity: 1;
}

#username, #password {
	float: right;
}

#login label {
	float: left;
}

#login {
	width: 250px;
}

#login label, #login input {
	margin-top: 10px;
}

#btn-login {
	margin-left: 200px;
}

.control-condition {
	margin-top: 10px;
}

.control-condition:first-child #control-logic {
	display: none;
}

.control-condition #control-logic {
	width: 5em;
	margin-left: 1em;
}

.control-condition:first-child label {
	display: inline-block;
}

.control-condition label {
	display: none;
}

#control-datepicker {
	background-image: url('../imgs/datepicker.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display: inline-block;
	height: 1em;
	width: 1em;
	content: "";
	left: -8.5em;
	top: 0.15em;
}

#table_results tr:nth-child(2n+1),
.table_one tr:nth-child(2n+1),
.table_preview tr:nth-child(2n+1) {
	background-color: #ddd;
}

#table_results th,
.table_one th,
.table_preview th {
	white-space: nowrap;
	line-height: 1.8em;
}

#table_results th.experiments,
.table_one th.experiments,
.table_preview th.experiments {
	background: linear-gradient(#fff, #ddddff);
}

#table_results th.patients,
.table_one th.patients,
.table_preview th.patients {
	background: linear-gradient(#fff, #ffddff);
}

#table_results th.samples,
.table_one th.samples,
.table_preview th.samples {
	background: linear-gradient(#fff, #ddffff);
}

#table_results th.results,
.table_one th.results,
.table_preview th.results {
	background: linear-gradient(#fff, #ddffdd);
}

#table_results th.resultdetails,
.table_one th.resultdetails,
.table_preview th.resultdetails {
	background: linear-gradient(#fff, #ffffdd);
}

.jsdragtable-contents thead tr {
	background: linear-gradient(#fff, #ffdddd);
}

div.jsdragtable-contents {
	box-shadow: 2px 2px 2px grey;
}

.loading {
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .loading {
    overflow: hidden;   
}

body.loading .loading {
    display: block;
}

div.paginateContainer {
	width: auto;
	float: right;
	top: 5px;
	z-index: 99;
}

.paginateSize {
	width: 50px;
}

.paginate {
	margin-right: 3px;
	text-decoration: none;
	color: black;
}

a.paginate.current {
	color: #00bbff
}

a.paginate:visted {
	text-decoration: none;
	color: black;
}

a.paginate:hover {
	text-decoration: underline;
	color: red;
}

#ui-datepicker-div {
	display: none;
	background-color: white;
	width: auto;
	padding: 5px;
	box-shadow: 5px 5px 5px #555;
	border: 1px solid grey;
	border-radius: 2px;
	font-family: arial helvetica sans-serif;
}

.ui-datepicker-header {
	text-align: center;
	background-color: #aaa;
	font-weight: bold;
	border-radius: 2px;
}

a.ui-datepicker-prev {
	float: left;
	margin: 0.5em;
}

a.ui-datepicker-prev:hover,
a.ui-datepicker-next:hover {
	color: #ffcc00;
	text-decoration: none;
}

a.ui-datepicker-next {
	float: right;
	margin: 0.5em;
}

.ui-datepicker-title {
	width: auto;
	margin: 0.5em;
}

.ui-datepicker-calendar th, 
.ui-datepicker-calendar td, 
.ui-datepicker-calendar {
	border: none;
	border-collapse: separate;
	border-radius: 2px
}

.ui-datepicker-calendar td {
	background-color: #aaa;
	text-align: center;
}

.ui-datepicker-calendar td:hover {
	background-color: #ccc;
	cursor: pointer;
}

.ui-state-disabled {
	background-color: white !important;
	cursor: default !important;
}

a.ui-state-default {
	text-decoration: none;
	color: black;
}

a.ui-state-default:hover {
	text-decoration: none;
	color: black;
}

td.ui-datepicker-today {
	background-color: #00b0ff;
}

.ui-datepicker-current-day {
	background-color: #ffcc00 !important;
}

.table_preview {
	width: auto;
	height: auto;
	max-height: 150px;
	overflow: auto;
	display: block;
	border: 1px solid black;
}

.table_preview.previewAll {
	width: 90%;
	height: 500px;
	max-height: none;
	margin-top: 0;
	margin-left: 5%;
	background-color: white;
}

.table_one a,
.table_preview a {
	text-decoration: underline;
	color: black;
}

.table_one a:hover,
.table_preview a:hover {
	text-decoration: underline;
}

.preview_header {
	width: auto;
}

.main-repeat {
	margin-left: 10%;
	width: 80%;
}

.detailView {
	margin-top: 10px;
	width: 100%;
	border-right: none;
}

.detailView th {
	float: right;
	padding-right: 20px;
	padding-top: 0;
	line-height: 2em;
	border-right: none;
	font-size: 0.9em;
}

.detailView td {
	width: 33%;
	height: auto;
	border-right: none;
	border-left: 1px solid #999;
	word-wrap: break-word;
	left: 15px;
}

.detailView tr:nth-child(2n+1) {
	background-color: #eee;
}

.detailView td span {
	display: inline-block;

}

.detailView td input {
	width: 90%;
}

.detailView	a {
	color: black;
	text-decoration: underline;
}

.detailView.hide {
	display: none;
}

.appContainer {
	margin-top: 10px;
}

#submit {
	float: right;
	margin-top: 25px;
}

.footer {
	height: 50px;
	background-color: #444466;
	padding: 10px;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-top: 2em;
}

.viewAll,
.viewAll:visited {
	float: right;
	text-decoration: none;
	color: black;
}

.viewAll:hover {
	text-decoration: underline;
}

.btn-edit {
	float: right;
	margin-left: 5px;
}

.uploadContainer {
	width: 80%;
	margin-left: 10%;
	margin-top: 1em;
}

.toggleInfo {
	background-color: #444466;
	color: white;
	padding-left: 2em;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 1em;
}

.table-toggle {
	background-color: #444466;
	color: white;
	padding: 0 2em;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 1em;
	margin-bottom: -5px;
}

.toggleInfo:after {
	content: "-";
	float: right;
	font-size: 50px;
	line-height: 50px;
	top: 0;
	right: 1em;
	position: absolute;
}

.toggleInfo.hide:after {
	content: "+";
	float: right;
	font-size: 40px;
	line-height: 60px;
	top: 0;
	right: 1em;
	position: absolute;
}
